.hero-container {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    border: 1px dashed #ccc;
    position: relative;

    h1, p {
        margin: 5px 0;
    }
    .content {
        top: 0;
        left: 0;
        height: 100%;
    }
    .left-block, .right-block {
        padding: 15px;
    }
    .left-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right-block {
        display: flex;
        align-items: center;
    }
    .ctas {
        flex: 1 1 auto;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(2, 1fr);
    }
    .cta {
        border: 1px dashed #ccc;
        padding: 30px;
        background: transparent;
        color: #999;
    }
    .responsive {
        display: block;
        width: 100%;
        height: auto;
    }
    // media queries
    @media screen and (min-width: 768px) {
        .content {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .ctas {
            grid-gap: 15px;
        }
        .cta {
            border-radius: 5px;
        }
    }
}