* , *:before, *:after{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
}
.cards-container {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 100%;
    border: 1px dashed #ccc;
    text-align: center;
    padding: 15px;

    h1 {
        text-align: left;
        margin-top: 0;
    }
    .responsive {
        display: block;
        width: 100%;
        height: auto;
    }
    .cards {
        display: grid;
        grid-gap: 15px;
    }
    .card {
        border: 1px solid #ccc;

        .cta {
            padding: 15px;
            color: #6c6c6c;
        }
    }
    button {
        margin-top: 15px;
    }
    // media queries
    @media screen and (min-width: 768px) {
        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}