.grid {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px dashed #ccc;
    font-weight: 300;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "right"
            "left";

    h1, p {
        margin: 5px 0;
        display: block;
    }
    .responsive {
        display: block;
        width: 100%;
        height: auto;
    }
    .left-block {
        grid-area: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    .right-block {
        grid-area: right;
    }
    .cta {
        margin-top: 15px;
        text-align: center;
    }
    // media queries
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "left right";

        .cta {
            text-align: left;
        }

        &.reverse {
            grid-template-areas: "right left";
        }
    }
}