.banner-container {
    font-family: 'Gotham';
    font-weight: 300;
    width: 100%;

    h1, p {
        font-weight: 300;
        margin: 5px 0;
        display: block;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
        max-width: 990px;
        margin: 0 auto;
        text-align: center;
    }
    .right-block {
        margin-top: 15px;
    }
    // cedars bg
    &.gradient-gray-blue {
        background-color: #58627c;
    }
    &.gradient-zodiac-blue {
        background-color: #424753;
    }
    &.gradient-alice-gray {
        background-color: #f4f5f7;
    }
    // media queries
    @media screen and (min-width: 768px) {
        .banner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }
        .right-block {
            margin-top: 0;
        }
    }
}